<a href="https://colab.research.google.com/github/Kavia-M/Data_science_course-Intellipaat/blob/main/Python/Classwork/Trainers_notes/May_15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Programming Language

It is a medium to communicate with machine.

We have different types of programming language(python,java,c,c++,javascript).

We need to follow some grammer rules(syntax).

# What is python and why python?

Python is an interpreted(line by line) programming language.

Python is a case sensitive language.

Python is easy to understand and beginner friendly language.It is very similar to english.

Python is having large numbers of libraries.

# Where we can use Python

Data Science:Scipy,Sklearn,numpy,pandas

Data Visualisation:Matplotlib,Seaborn

Web Deveopmen:Django,Falsk

Game Development:Pygame

Machine learning and AI:Tenserflow,keras

In [ ]:
print("Hello world")    #I am printing hello wold

Hello world

# Comments

In [ ]:
#This is a single line comment
'''
This is a multiple line comment
Thsis is secong line
This is thirld line
'''

'\nThis is a multiple line comment\nThsis is secong line\nThis is thirld line\n'

# Variable

It is a container that stores different types of data.

In [ ]:
number=10
print(number)  #To print the varaible value we pass varaible name to our print statement

10

# Rules to write the name of the variable

1.Variables are case sensitive

In [ ]:
name="if"
print(name)

Name="Kavia"
print(Name)

if
Kavia

2.Keywords are not used as a varaible name.

In [ ]:
if="Amit"
print(if)

SyntaxError: invalid syntax (<ipython-input-12-b010ae753594>, line 1)

3.You cannot start a varaible name with a number but can end with a number.

In [ ]:
name2="Vikesh"
print(name2)

Vikesh

4.We cannot use symbol or give whitespace between multi word variable except underscore.

In [ ]:
sentence="Today we are going to learn python"
print(sentence)

Today we are going to learn python

# Data Types

1.Numeric Data

2.Text Data

3.Boolean Data

#1. Numeric Data Types

In [ ]:
#integer (int)-positive and negative number including 0
num=10
print(num)
print(type(num))

num2=-10
print(num2)
print(type(num2))

#type()-> Gives you the datatype of a varaible

10
<class 'int'>
-10
<class 'int'>

In [ ]:
#float-positive and negative decimal number
num=10.5
print(type(num))

<class 'float'>

#2.Text Data type

String

To write our string we use ' ' or " ".

In [ ]:
name='Praveen'
print(name)
print(type(name))

Praveen
<class 'str'>

#3.Boolean Data Type

True and False

**note:T and F should be in Capital letters**

In [ ]:
a=True
print(type(a))

<class 'bool'>

# Type Casting

To change a data from one datatype to another datatype .

In [ ]:
num=23
print(type(num))

num=float(num)
print(type(num))

num=str(num)
print(type(num))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
x=True
x=int(True)
print(type(x))

<class 'int'>

In [ ]:
num=77.99
print(type(num))
print(num)
num=float(num)
print(type(num))
print(num)

<class 'float'>
77.99
<class 'float'>
77.99

In [ ]:
tata=10.5

print(type(tata))

tata = int(tata)

print(tata)
print(type(tata))

<class 'float'>
10
<class 'int'>

In [ ]:
name="Alex"
print(type(name))  # here I am getting the correct
                               data type in output
name=int(name)
print (type(name))

IndentationError: unexpected indent (<ipython-input-36-ba2b29086a8c>, line 3)

**note:Text values cannot be converted to numeric datatype**

# Operators

The symbol that specify which task we need to perform

#1.Arithmetic Operator

Any mathematical calculation

In [ ]:
x=5
y=2
#addition(+)-
print(x+y)

#subtraction(-)-
print(x-y)

#multiplication(*)-
print(x*y)

#division(/)-
print(x/y)

#modulus(%)-Gives you the remainder
print(x%y)

#floor division(//)-Gives the integer value only
print(x//y)

#Exponential(power **)-
print(x**y)

7
3
10
2.5
1
2
25

#2.Comparision Operator

In [ ]:
x=22
y=22

#greater than(>):
print(x>y)

#less than(<):
print(x<y)

#greater than equals to(>=):
print(x>=y)

#less than equals to(<=):
print(x<=y)

#equals equals tO(==):
print(x==y)

#not equals to(!=):
print(x!=y)

False
False
True
True
True
False

#3.Assignment Operator

In [ ]:
#(=)-Assigns a value to a variable
x=10
print(x)

#(+=)-increments the value
x+=5    #x=x+5
print(x)

#(-=)-decremnts the value
x-=10   #x=x-10
print(x)

#(*=)
x*=5    #x=x*5
print(x)

#(/=)  (//=)

10
15
5
25

#4.Logical Operator

keywords: and,or, not

In [ ]:
#and-If both statements are true then only we get the true output.
x=23
y=12
print(x>y and y>x)

False

In [ ]:
#or-If any one statement will be true then we get the true output
print(x>y or y>x)

True

In [ ]:
#not-Gives you opposite value
#x=True
#print(not x)

x=10
print(not x)

False

#5.Membership Operator

keywords:in, not in

In [ ]:
fruits=["apple","mango","kiwi","pineapple"]
print("apple" in fruits)
print("pineapple" not in fruits)

True
False

# Sequential Data Types

List tuple Strings

#Unsequential Data Types

Dictionary Sets

# Dictionary-

Key value Pairs

We use {} to create our dictionary

Mutable

In [ ]:
#print the details of a person (name,age,address,job)
person={"name":"Sweta","age":23,"address":"Banglore","job":"Data Science"}
print(person)

{'name': 'Sweta', 'age': 23, 'address': 'Banglore', 'job': 'Data Science'}

In [ ]:
#By using the key you can acess the value
print(person["age"])
print(len(person))

23
4

In [ ]:
# i want to add salary to my dictionary
#to add new key value pair
person["Salary"]=50000

In [ ]:
person

{'name': 'Sweta',
 'age': 23,
 'address': 'Banglore',
 'job': 'Data Science',
 'Salary': 50000}

In [ ]:
#keyword-del
del person["job"]

In [ ]:
person

{'name': 'Sweta', 'age': 23, 'address': 'Banglore', 'Salary': 50000}

In [ ]:
person.update({"job":"Data Science","last_name":"Kumar"})

In [ ]:
person

{'name': 'Sweta',
 'age': 23,
 'address': 'Banglore',
 'Salary': 50000,
 'job': 'Data Science',
 'last_name': 'Kumar'}

In [ ]:
#Methods in dictionaries
#.keys():Give all the keys in dict
person.keys()

dict_keys(['name', 'age', 'address', 'Salary', 'job', 'last_name'])

In [ ]:
#.values():Give all the values in the dict
person.values()

dict_values(['Sweta', 23, 'Banglore', 50000, 'Data Science', 'Kumar'])

In [ ]:
#.items():Gives both key value together
person.items()

dict_items([('name', 'Sweta'), ('age', 23), ('address', 'Banglore'), ('Salary', 50000), ('job', 'Data Science'), ('last_name', 'Kumar')])

# Mutable:When you can Modified(adding,deleting,updating) the data after creation that is called as mutable.

#Immutable:When you can not modidfied the data after creation

# Sets

It is unorderd unique collection of elemnts.

We use {} to create the sets.

Mutable.

In [ ]:
s1={1,3,34,25,23,34,25,78,"kavia",34.5}
print(s1)

{1, 34, 3, 34.5, 'kavia', 78, 23, 25}

In [ ]:
#Method of Sets
#.add(element)
s1.add(30)

In [ ]:
print(s1)

{1, 34, 34.5, 'kavia', 78, 23, 25, 30}

In [ ]:
#.remove(element)
s1.remove(3)

In [ ]:
s1

{1, 23, 25, 30, 34, 34.5, 78, 'kavia'}

In [ ]:
#.union()-All unique elements present in both sets
s1={1,2,3,4}
s2={3,4,5,6}
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [ ]:
#.intersection()-Gives common element from both the sets
s1.intersection(s2)

{3, 4}

In [ ]:
#Issues in sets:
#Unordered
#Duplicates
#Indexing
#we cannot acces a particular element

# List is ordered,allow duplicates,we have indexing in list

we use [] to create list.

It is also Mutable.

In [ ]:
li=[23,24,56,"Apple",25.8,25,24,30]
print(li)

[23, 24, 56, 'Apple', 25.8, 25, 24, 30]

# Indexing

Gives the position of a particular element.

Indexing starts from 0.

Negative indexing starts from -1.

In [ ]:
li=[10,20,30,40,50]
print(li[2])

30

In [ ]:
li[4]

50

In [ ]:
#Negative indexing
li[-2]
li[-5]

10

# Slicing

[start:end:step]

start will be the index value from where you want to start.

end will be +1 to the index value where you want to stop.

In [ ]:
li=[10,20,30,40,50]
li[1:4]

[20, 30, 40]

In [ ]:
#Negative indexing
li[-4:-1]

[20, 30, 40]

In [ ]:
#To slice values from beginning (we can keep the start index as empty)
li[:4]

[10, 20, 30, 40]

In [ ]:
#To slice values till the end of the list(we can skip the ending index as empty)
li[1:]

[20, 30, 40, 50]

In [ ]:
#full list
li[:]

[10, 20, 30, 40, 50]

In [ ]:
li=[1,2,3,4,5,6,7,8,9,10]
li[::2]    #it skips one value,by default the step size will be 1.

[1, 3, 5, 7, 9]

In [ ]:
#if you want to get the even values
li=[1,2,3,4,5,6,7,8,9,10]
li[1::2]

[2, 4, 6, 8, 10]

# Nested List-List inside a list

In [ ]:
       # 0 1  2  3   4   5        6        7  8 9  10   11
my_list=[0,3,25,'q','w','e',['r','t','h'],'q',6,8,True,False]   #list inside a list
my_list[5]

'e'

In [ ]:
my_list[6][1]

't'

In [ ]:
#        0 1  2  3   4   5       6           7  8 9  10   11
my_list=[0,3,25,'q','w','e',['r',['t','h']],'q',6,8,True,False]

In [ ]:
my_list[6][1][1]

'h'

In [ ]:
#Methods in list
my_list=["tea","Milk","coffe","rice"]
#i want toa add veg biryani in my list
#.append()-It adds the element by the end of the list
my_list.append("Veg Biryani")

In [ ]:
my_list

['tea', 'Milk', 'coffe', 'rice', 'Veg Biryani']

In [ ]:
#.insert(index,element)-to insert element at a particular index
# i want to add toffee after coffee
my_list.insert(3,"Toffee")

In [ ]:
my_list

['tea', 'Milk', 'coffe', 'Toffee', 'rice', 'Veg Biryani']

In [ ]:
#.remove()-It deletes the value
my_list.remove("Veg Biryani")

In [ ]:
my_list

['tea', 'Milk', 'coffe', 'Toffee', 'rice']

In [ ]:
del my_list[1:4]

In [ ]:
my_list

['tea', 'rice']

In [ ]:
#.index()-Gives you the index value of a element
my_list.index("tea")

0

In [ ]:
li=["tea","coffe","toffe","coffe","rice"]
index_1=li.index("coffe")

In [ ]:
index_2=li.index("coffe",index_1+1)

In [ ]:
index_2

3

In [ ]:
li=[1,2,3,4,"Birayni","Coffe"]
li[4]="Maggi"

In [ ]:
li

[1, 2, 3, 4, 'Maggi', 'Coffe']

In [ ]:
list1=["tea","coffe","rice"]
list2=["Biryani","Maggie","Toffe"]
merge_list=list1+list2

In [ ]:
merge_list

['tea', 'coffe', 'rice', 'Biryani', 'Maggie', 'Toffe']

# Tuple

It stores multiple values of different datatype.

To create tuple we use () round brackets.

Tuples are immutable.

In [ ]:
tup1=(1,2,3,"a",34.5,"b",8,1)
tup1

(1, 2, 3, 'a', 34.5, 'b', 8, 1)

In [ ]:
tup1[3]

'a'

In [ ]:
tup1[3]="c"

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Methods in tuple
#.index()
tup1.index("a")

3

In [ ]:
#count()-it will count the frequency of a particular element
tup1.count(1)

2

# Strings

Text Data type

It follows indexing

It is immutable.

In [ ]:
    # 012345678910
name="Rahul Kumar"
name[7:10]

'uma'

In [ ]:
name[6:]

'Kumar'

In [ ]:
name[2]="k"

TypeError: 'str' object does not support item assignment

In [ ]:
#Methods in strings
#.lower()-Convert all the letters into lower case
name.lower()

'rahul kumar'

In [ ]:
#.upper()-Convert all the letters into upper case
name.upper()

'RAHUL KUMAR'

In [ ]:
#.capitalized()-It will Capitilize the first letter of the string
name.capitalize()

'Rahul kumar'

In [ ]:
#title()-It will capitalize all the first character of the string
name.title()

'Rahul Kumar'

In [ ]:
name

'Rahul Kumar'

In [ ]:
name="Kavia"
index=2    # v index is 2

    #name[2]=v   v.upper()=V
upp=name[index].upper()   #upp=V

In [ ]:
         #ka           V    ia
new_name=name[:index]+upp+name[index+1:]

In [ ]:
new_name

'KaVia'

In [ ]:
#strip()-It will remove the whitespace from the string
name='   Kanhaiya'
name.strip()

'Kanhaiya'

In [ ]:
#split()-Splits the string into multiple values by selecting a seperator
data="Kavia,Abhinav,Vikas,Rahul,Naresh"
y=data.split(",")

In [ ]:
y

['Kavia', 'Abhinav', 'Vikas', 'Rahul', 'Naresh']

In [ ]:
a = 10
b = 3
print(a/b)

3.3333333333333335

In [ ]:
a = 10
b = 3
print(a//b)

3

#Topic : Conditional statement

def:  conditional statement in python are used to make decisions in your program

In [ ]:
# if statement:

# def:  an if statement checks whether the condition is true
# and if it is true , the code inside if will execute or run
# it is false, the code is skipped


# syntax:


if conditon:
  # code

In [ ]:
age = 10
if age>18:
  print("you are an adult")

In [ ]:
temp = 20
if temp > 25:
  print("it is a hot day")

In [ ]:
age = int(input("enter you age"))
if age>18:
  print("you are an adult")

enter you age20
you are an adult

In [ ]:
# input is user input function . you have to mention the type before the function name
# because by default , this input function will take everything as a string
name = input("enter your name")

if name == "roopneet":
  print("hi welcome to our class")

enter your nameroopneet
hi welcome to our class

In [ ]:
# else : an f -else statement provide two options:
# one for when the condition is true and another for when the
 # condition is false

number = int(input("enter the number"))
if number %2 == 0:
  print("even")
else:
  print("odd")

enter the number20
even

In [ ]:
age= int(input("your age"))
if age>18:
 print("you are eligible")

your age21
you are eligible

In [ ]:
name= input("enter your name")
if name == "kanhaiya":
  print("hi welcome to our class")

enter your namekanhaiya
hi welcome to our class

In [ ]:
temp=20
if temp > 25:
 print("it is a hot day")

In [ ]:
age = 30
if age == 30:
   print("you are a mature person")

you are a mature person

In [ ]:
marks = int(input("enter your marks : "))
if marks > 80:
  print("you are brilliant student")
else:
  print("work hard")

enter your marks : 88
you are brilliant student

In [ ]:
name= input ("Enter your name ")
if name == "Vikesh":

  print("Hi Welcome to our class")

Enter your name  Vikesh
Hi Welcome to our class

In [ ]:
# elif statement (short for else -if):
# check another condition if previous condition was false
# you can have multiple conditions


marks = int(input("enter your marks"))
if marks >= 90:
  print("Grade: A")

elif marks >= 75:
  print("Grade: B")

else:
  print("Grade : C")

KeyboardInterrupt: Interrupted by user

In [ ]:
marks = int(input("enter your marks"))

if marks >= 80 and marks <90:
  print("Grade is A")

elif  marks >= 75 and marks < 80:
  print("Grade is : \n 'B' and marks is", marks)

else:
  print("Grade is C")

# \n for the new line
# "Grade is \"B\"" : if you want to print inverted commas inside the string

enter your marks33
Grade is C

In [ ]:
marks=(int(input("Enter your marks: ")))
if marks>=40:
  print("Your grade is 'D'")
elif marks>=60:
  print("Your grade is 'C'")
elif marks>=80:
  print("Grade is \"B\"")
elif marks>=90:
  print("Your grade is 'A'")       #mam here I am getting syntax error because i used "" for grades inside "" of print statement. mam please tell how to resolve it if I want to have my grades inside inverted commas in output

Enter your marks: 33

In [ ]:
marks= int(input("Enter your marks:"))
if marks>= 90:
   print("Your grade is: A")
elif marks>=75:
  print("Your grade is: B")
else:
  print("Your grade is: C")

Enter your marks:76
Your grade is: B

In [ ]:
# determine healt status based on body mass index

bmi = float(input("enter your body mass index"))

if bmi < 18.5:
  print("underweight")

elif 18.5<=bmi< 24.9:
  print("normal weight")
elif  25<=bmi< 29.9:
  print("overweight")
else:
  print("obesity")

enter your body mass index28.0
overweight

In [ ]:
# check if a number is positive is even

num = int(input("Enter the number"))
if(num > 0 and num%2 == 0):
  print("positive and even number")

Enter the number34
positive and even number

In [ ]:
num=int(input("your no"))
if num//2==0:
  print("even")
else:
  print("odd")

your no34
odd

In [ ]:
age = int(input("Enter the Age : "))
if age > 0 and age %2 == 0 :
    print("Positive and even")
else:
    print("Negative or Odd")

Enter the Age : 34
Positive and even

In [ ]:
n=int(input('Enter the Number: '))
if (n%2==0):
  print('Positive')
else:
  print('Nagative')

Enter the Number: 12
Positive

In [ ]:
age = int(input("Enter the Age : "))
if age > 0 and age %2 == 0 :
    print("Positive and even")
else:
    print("Negative or Odd")

Enter the Age : 12
Positive and even

In [ ]:
num=int(input("your no"))
if num%2==0:
  print("even")
else:
  print("odd")

your no23
odd

In [ ]:
num = int(input("Enter num:"))
if num > 0 and num % 2 == 0:
  print("number is positive and even")
else:
  print("number is negative or odd")

Enter num:34
number is positive and even

# **Looping statement in python**

def :  looping statement in python are used to repeat a block of code
 until the specific condition is met or for a fixed no of iterations
this is helpful when you want to automate the repitive task


# Types of loops are there:

1. for loop
2. while loop


1. for loop:  a for is used to iterate over a sequence(like list, tuple ,string or range)and perform some actions for each items

note: it is used when you know the number of iterations in advance

In [ ]:
# syntax:


for variable_name in sequnce:

   # code block

In [ ]:
names = ["alice", "priya", "kiran", "jit"]
for i  in names:
  print("hello",i)

hello alice
hello priya
hello kiran
hello jit

In [ ]:
word = "python"

for x in word:
  print(x)

p
y
t
h
o
n

In [ ]:
names = ["alice","priya","kiran","jiya"]
for i in names:
 print(i)

alice
priya
kiran
jiya

In [ ]:
# range
# slicing : [start index : end_index +1 , skip]
a =list(range(2, 11, 2))
print(a) # output: 2, 4, 6, 8,10

[2, 4, 6, 8, 10]

In [ ]:
for i in range(2, 21):
  print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
# i want to generate number from 2 to 20 and i need to fetch only odd numbers

for  i in range(2, 21):
  if i %2 != 0:
    print(i, end=" ")

3 5 7 9 11 13 15 17 19

In [ ]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [ ]:
# calculte the sum of numbers
numbers =[1,2,3,4,5]
total = 0
for i in numbers:
  total += i
print("total is", total)  #  total = total +i

total is 15

In [ ]:
# hw: using for loop , print a multiplication table
#  using for loop , print a star pattern



#


*
**
***
****

In [ ]:
# indexing :to fetch only single character from string

# positive indexing: starts from left side and always have first character 0
# negative indexing:strt from right side and always have last character -1
# slicing: to fetch subset from a string

a = "hello python"
#print(a[2])
#print(a[-1])

# syntax:  [start index : end_index +1 : step size]
#print(a[0:5])

#print(a[-1 : -5: -1])

print(a[-3: -6: -1])
print(a[-4: ])

print(a[: : -1])

hty
thon
nohtyp olleh

# While Loop :

a while loop in python is a control flow statement that repeateadly executes
a block of code as long as the condition is true

it is used when you dont know how many times the loop will run,
but we know the condition needs to be met for it to stop

In [ ]:
# syntax:

while condition:
  # code

In [ ]:
for i in range(1, 6):
  print(i)

1
2
3
4
5

In [ ]:
i=1
while i <=5:
  print(i)
  i+=1      #  i = i+1

1
2
3
4
5

In [ ]:
num=[1,2,3,4,5]
for i in num:
  print(i)

1
2
3
4
5

In [ ]:
num=[1,2,3,4,5]
i = 0
while i <len(num):
  print(num[i])
  i+=1

1
2
3
4
5

In [ ]:
# print even numbers from 2 to 10 using while loop

num = 2
while num <=10:
  print(num)
  num+=2

2
4
6
8
10

In [ ]:
num  = 2
while num <= 10:
  if num % 2 == 0:
    print(num)
  num+=1

2
4
6
8
10

In [ ]:
# ask the user to guess a number

secret = 7
guess = 0

while guess != secret:
  guess = int(input("enter the number :"))

print("you guess it right")

enter the number :8
enter the number :3
enter the number :2
enter the number :9
enter the number :7
you guess it right

In [ ]:
# task the user for a password and stop only when the correct password is entered
correct_password=9
guess=0
while guess != correct_password:
  guess = int(input('enter the password: '))
print('you got the password: ')

enter the password: 6
enter the password: 9
you got the password:

In [ ]:
# task the user for a password and stop only when the correct password is entered
password = "new password 123"
entered_password = None
while entered_password != password :
  entered_password = input("enter password : ")
print("Successfully logged in")

enter password : new
enter password : kk
enter password : new password 123
Successfully logged in

In [ ]:
password="mani"
text = 0
while password !=text :
    text = input("Enter the password : ")
print("Password is right")

Enter the password : 4
Enter the password : k
Enter the password : mani
Password is right

In [ ]:
# nested while loop


# output:

number: 1
. . .

number: 2
...

In [ ]:
i =1
while i<=2:
  print("Number: ", i)

  j =1
  while j <=3:
    print(".",end="")
    j+=1

  print("\n")  # move to next line

  i+=1

Number:  1
...

Number:  2
...

In [ ]:
rows = 10
mul = input('Enter the multiplication table : ')
for i in range(1,rows+1):
    print (str(i) + ' * ' + str(mul) + ' = ' , i*int(mul))

Enter the multiplication table : 5
1 * 5 =  5
2 * 5 =  10
3 * 5 =  15
4 * 5 =  20
5 * 5 =  25
6 * 5 =  30
7 * 5 =  35
8 * 5 =  40
9 * 5 =  45
10 * 5 =  50

In [ ]:
for i in range(1,5):
  print("*"*i)

*
**
***
****

In [ ]:
rows = 5  # Number of rows
for i in range(1, rows + 1):  # Loop for rows
    for j in range(i):  # Loop for columns (stars)
        print("*", end=" ")  # Print star
    print()  # Move to the next line

*
* *
* * *
* * * *
* * * * *

In [ ]:
mul=int(input("Enter the number whose multiplication table needs to be found: "))
num=[1,2,3,4,5,6,7,8,9,10]
for i in num:
  pdt=mul*i
  print(mul,"*",i,"=",pdt)

Enter the number whose multiplication table needs to be found: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
for i in range(5):
  for j in range(i):
    print("*", end=" ")
  print("\n")

*

* *

* * *

* * * *

In [ ]:
i =1
while i<=5:
  j=1
  while j<=i:
    print("*", end ="")
    j+=1

  print()
  i+=1

*
**
***
****
*****

In [ ]:
#1
12
123
1234

i=1
while i<5 :
  j=1
  while j<=i :
    print(j, end="")
    j+=1

  print()
  i+=1

1
12
123
1234

In [ ]:
rows = 5
i = 1
while i <= rows:
    j = 1
    while j <= i:
        print(j, end=" ")
        j += 1
    print()
    i += 1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
i = 5
for i in range(1, i + 1):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****

In [ ]:
n=4
for a in range(1,n+1):
  for b in range(1, a+1):
    print(b,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4

In [ ]:
n = 4

for i in range(1, n + 1):

    for j in range(1, i + 1):
        print(j, end='')

    print()

1
12
123
1234

In [ ]:
i=1
while i<=4:
  j=1
  while j<=i:
    print(j,end=" ")
    j+=1
  print()
  i+=1

1
1 2
1 2 3
1 2 3 4

In [ ]:
i=1
while i<=5:
    j=1
    while j<=i:
       print(,j,  end=" ")
       j+=1
    print()
    i+=1

 1

 1
 2

 1
 2
 3

 1
 2
 3
 4

 1
 2
 3
 4
 5

In [ ]:
   *
  * *
 * * *
 * * * *

In [ ]:
rows =5
for i in range(1, rows +1):
  print(" " * (rows - i) + "*" * (2 * i - 1))

    *
   ***
  *****
 *******
*********

In [ ]:
rows =5
i =1
while i <=rows:
  spaces = rows-i
  stars = 2*i-1

  j=1
  while j<=spaces:
    print(" ", end="")
    j+=1


  k=1
  while k<=stars:
    print("*", end="")
    k+=1

  print()
  i+=1

    *
   ***
  *****
 *******
*********

In [ ]:
 rows=5
for i in range(rows) :
  for j in range(rows-i-1) :
    print(end=" ")
  for j in range(2*i+1) :
    print("*", end="")
  print()

    *
   ***
  *****
 *******
*********

In [ ]:
n = 4
i = 1
while i <= n:
    print(' ' * (n - i) * 2, end='')
    print(('*   ' * i).rstrip())
    i += 1

      *
    *   *
  *   *   *
*   *   *   *

In [ ]:
rows=5
for i in range(rows) :
  for j in range(rows-i-1) :
    print("",end=" ")

  for j in range(2*i+1) :
      print("*", end="")
  print()

    *
   ***
  *****
 *******
*********

# break and continue  statement in python


break statement is used to immediately exit from the loop
regardless of whether the loop condition is still true


continue: the continue statement is used to skip the current iteration of the loop
 and move to the next one without exiting from the loop entirely

In [ ]:
num =[1,2,3,4,5,6,7,8,9,10]
for i in num:
  if i ==5:
    print(i)
    break
  print(i)

1
2
3
4
5

In [ ]:
fruits = ['pineapple','orange','kiwi', 'mango']
for i in fruits:
  if i =="mango":
    break
  print(i)

pineapple
orange
kiwi

In [ ]:
for i in range(1,6):  #skip odd numbers
 if i % 2 !=0:
   continue

 print("even numbers", i)

even numbers 2
even numbers 4

In [ ]:
fruits = ['pineapple','orange','kiwi', 'mango']

for i in fruits:
  if i == "kiwi":
    continue

  print("values are", i)

values are pineapple
values are orange
values are mango

In [ ]:
# hw
#  the user has to guess a secret number between 1 and 10 within 5 attempt

# if they enter an invalid number  , the program skip that attempt using continue
# the loop ends when they guess correctly or run out of attempts

In [ ]:
# need to discuss
# string functions or formatting
# lambda function
# types of exception
# power() function

In [ ]:
secret = 9
print("You have 5 attempts to guess the number between 1 and 10")
for i in range(5):
  guess = int(input("Guess the number : "))
  if not(1 <= guess <= 10) :
    print("Guess out of given bound")
    continue
  if guess == secret :
    print("Success!!!")
    break
print("Game over!")

You have 5 attempts to guess the number between 1 and 10
Guess the number : 5
Guess the number : 9
Success!!!
Game over!

In [ ]:
secret_no=8
entered_no=1
for i in range(1,6):
  entered_no=int(input("Enter the number between 1 and 10: "))
  if entered_no==secret_no:
    print("You guessed it right")
    break
  elif entered_no!=secret_no and i<5:
    print("You have to guess again. You have only",5-i,"attempts left.")
    continue
  else:
    print("You ran out of attempts")

Enter the number between 1 and 10: 3
You have to guess again. You have only 4 attempts left.
Enter the number between 1 and 10: 4
You have to guess again. You have only 3 attempts left.
Enter the number between 1 and 10: 9
You have to guess again. You have only 2 attempts left.
Enter the number between 1 and 10: 8
You guessed it right

In [ ]:
secnum = 7
print("guess your number")
for i in range(1,6):
    guess = input("enter the guess :")
    guess = int(guess)
    if guess == secnum:
      print("you guesssed it right")
      break
    else:
      print("try again")

guess your number
enter the guess :2
try again
enter the guess :2
try again
enter the guess :7
you guesssed it right

# Functions in Python
a function in python is a resuable block of code that performs
specific task,  function allow you to write code once  and use it multiple
times , make you program more organized and efficient

In [ ]:
# syntax

def function_name(parameter):
  # code block

In [ ]:
# basic function:
def greet():
  print("hello welcome to TAJ Hotel")


greet()

hello welcome to TAJ Hotel

In [ ]:
greet()
greet()

hello welcome to TAJ Hotel
hello welcome to TAJ Hotel

In [ ]:
# function with argument

def greet(name):
  print("hello", name, "welcome to TAJ Hotel")


greet("rahul")

greet("priya")

hello rahul welcome to TAJ Hotel
hello priya welcome to TAJ Hotel

In [ ]:
def greet(name):
 print("hello",name,"welcome to taj hotel")
greet("rahul")

hello rahul welcome to taj hotel

In [ ]:
def add(a,b):
   sum=a+b
   print(sum)


add(10,20)

add(40,30)

30
70

In [ ]:
def Greet(Name):
  print("Hello", Name, "Welcome to the Hotel Taj")
Greet("Vikesh")

Hello Vikesh Welcome to the Hotel Taj

#arbitary argument

In [ ]:
# arbitary argument
 # when you dont know how many argument you'll need to pass
 # we use arbitary arguments
 # this is done by placing an astrick * before the parameter in the function definition
 # it  allow the function to accept any number of argument

In [ ]:
def send_invitation(*guest):
  print("sending invitations to the following guests")
  for i in  guest:
     print("invitation sent to", i)

send_invitation("rupesh","priya", "arjun", "rahul", "kriti", "mohan")

sending invitations to the following guests
invitation sent to rupesh
invitation sent to priya
invitation sent to arjun
invitation sent to rahul
invitation sent to kriti
invitation sent to mohan

In [ ]:
#  a function that caculates the total sum of n numbers
def summation(*number):
  ans = 0
  for i in number:
    ans = ans + i
  print("The sum of the number", ans)
summation(2, 3, 4, 5)

The sum of the number 14

In [ ]:
def add(*numbers):
  sum = 0
  for number in numbers:
    sum+=number
  print(sum)
add(10,20,40,40)

110

In [ ]:
def calculate(*num):
    for i in num:
     i+=i
    print(i)
calculate(10,20,30,40)

80

In [ ]:
def sumofnnumber(*number):
  total = 0
  for i in number:
    total +=i
  print(total)
sumofnnumber(2,6,7,8,8)

31

In [ ]:
def calculate_sum(*numbers):
    total = 0
    for num in numbers:
        total += num
    return total
calculate_sum(10,20)

30

In [ ]:
def calculate_total(*number):
  total = sum(number)

  print("total is", total)


calculate_total(10,20,30,40,50,60,70)

total is 280

In [ ]:
def total_sum(*n):
  sum=0
  for i in n:
    sum+=i
  print(sum)
total_sum(5, 10, 20, 30, 40)

105

# Keyword Argument:

keyword argument allows you to specify the value for each parameter
while calling the function..

this makes your code more readable and flexible ,..

In [ ]:
def place_order(drink, side_dish, main_course):
  print("order placed")
  print("drink :", drink)
  print("side dish :", side_dish)
  print("main course :", main_course)


place_order(main_course ="dal and butter paneer", side_dish ="fries", drink ="pepsi")

order placed
drink : pepsi
side dish : fries
main course : dal and butter paneer

In [ ]:
def product_info(name, price, category):
  print("product category is: ",category, "price :", price, "name :", name)

product_info(name= "laptop", price =9999, category ="electronics")

product category is:  electronics price : 9999 name : laptop

In [ ]:
# kwargs( keyword argument): combination of arbitary and keyword argument

def show_student_info(**details):
  for key, value in details.items():
    print("the student " , key ,"is", value)

show_student_info(name ="priya",age= 12, grade =6, name1="krishna")
print("#######")
show_student_info(name="arjun", age = 20, grade = 9)

the student  name is priya
the student  age is 12
the student  grade is 6
the student  name1 is krishna
#######
the student  name is arjun
the student  age is 20
the student  grade is 9

# Return statement

the return statement in python is used to send a value from a fuction back to place where the function was called .
 it allow the function to produce a result which can then be used later on in the program
 without return, the function will just perform the action but wouldnt give back any output

In [ ]:
 # without use of return statement

def add(a,b):
  sum = a+b
  print("the total  sum is", sum)


result1 =add(10, 30)
print(result1)

the total  sum is 40
None

In [ ]:
print(result1)

None

In [ ]:
def add(a,b):
  sum = a+b
  return sum


result =add(10, 30)

print(result)
print(type(result))

40
<class 'int'>

In [ ]:
result*100

4000

# String formatting:


string formatting in python means inserting values into string in a very proper and organized way

In [ ]:
# normal way of organizing your string
a = 10
b= 20

print(" A value is", a,"b value is", b)

 A value is 10 b value is 20

In [ ]:
# 2. using f-string (python 3.6+)-  easy and recommended

name ="krishna"
age = 25

# output: my name is krishna and i am 25 years young

print(f"my name is {name} and i am  {age} years young ")

my name is krishna and i am  25 years young

In [ ]:
 # using format() method - not recommended

name ="radha"
age = 21
# output: my name is radha and i am 21 years young
print("My name is {} and i am {} years young".format(name, age))

My name is radha and i am 21 years young

In [ ]:
# using % operator (oldest method)
name ="arjun"
age = 23
print("My name is  %s and i am  %d years old"%(name, age))

# %s for strings
#%d for integers

My name is  arjun and i am  23 years old

# **Lambda function**:

a lambda function is a small , anonymous function in python
it is used whenyou need a function for short peroid of time and dont want to give it a name

In [ ]:
# syntax:

lambda agrument : expression

In [ ]:
# add two number
def add(a,b):
  sum = a+b
  return sum


add(10,20)

30

In [ ]:
add =lambda a,b : a+b
print(add(10,20))

30

In [ ]:
# square of a number

square = lambda x : x*x
print(square(16))

256

In [ ]:
# check if number is even or not

is_even = lambda x : x%2==0
print(is_even(9))

False

In [ ]:
# h.w.
# s = hello
# get the last character of a string using lambda function
# sort list of tuple by second element

paris = [(1,3), (4,1), (2,2)]
# output: [(4,1),(2,2), (1,3)]