# Programming Language

It is a medium to communicate with machine.

We have different types of programming language(python,java,c,c++,javascript).

We need to follow some grammer rules(syntax).

# What is python and why python?

Python is an interpreted(line by line) programming language.

Python is a case sensitive language.

Python is easy to understand and beginner friendly language.It is very similar to english.

Python is having large numbers of libraries.

# Where we can use Python

Data Science:Scipy,Sklearn,numpy,pandas

Data Visualisation:Matplotlib,Seaborn

Web Deveopmen:Django,Falsk

Game Development:Pygame

Machine learning and AI:Tenserflow,keras

In [ ]:
print("Hello world")    #I am printing hello wold

Hello world

# Comments

In [ ]:
#This is a single line comment
'''
This is a multiple line comment
Thsis is secong line
This is thirld line
'''

'\nThis is a multiple line comment\nThsis is secong line\nThis is thirld line\n'

# Variable

It is a container that stores different types of data.

In [ ]:
number=10
print(number)  #To print the varaible value we pass varaible name to our print statement

10

# Rules to write the name of the variable

1.Variables are case sensitive

In [ ]:
name="if"
print(name)

Name="Kavia"
print(Name)

if
Kavia

2.Keywords are not used as a varaible name.

In [ ]:
if="Amit"
print(if)

SyntaxError: invalid syntax (<ipython-input-12-b010ae753594>, line 1)

3.You cannot start a varaible name with a number but can end with a number.

In [ ]:
name2="Vikesh"
print(name2)

Vikesh

4.We cannot use symbol or give whitespace between multi word variable except underscore.

In [ ]:
sentence="Today we are going to learn python"
print(sentence)

Today we are going to learn python

# Data Types

1.Numeric Data

2.Text Data

3.Boolean Data

#1. Numeric Data Types

In [ ]:
#integer (int)-positive and negative number including 0
num=10
print(num)
print(type(num))

num2=-10
print(num2)
print(type(num2))

#type()-> Gives you the datatype of a varaible

10
<class 'int'>
-10
<class 'int'>

In [ ]:
#float-positive and negative decimal number
num=10.5
print(type(num))

<class 'float'>

#2.Text Data type

String

To write our string we use ' ' or " ".

In [ ]:
name='Praveen'
print(name)
print(type(name))

Praveen
<class 'str'>

#3.Boolean Data Type

True and False

**note:T and F should be in Capital letters**

In [ ]:
a=True
print(type(a))

<class 'bool'>

# Type Casting

To change a data from one datatype to another datatype .

In [ ]:
num=23
print(type(num))

num=float(num)
print(type(num))

num=str(num)
print(type(num))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
x=True
x=int(True)
print(type(x))

<class 'int'>

In [ ]:
num=77.99
print(type(num))
print(num)
num=float(num)
print(type(num))
print(num)

<class 'float'>
77.99
<class 'float'>
77.99

In [ ]:
tata=10.5

print(type(tata))

tata = int(tata)

print(tata)
print(type(tata))

<class 'float'>
10
<class 'int'>

In [ ]:
name="Alex"
print(type(name))  # here I am getting the correct
                               data type in output
name=int(name)
print (type(name))

IndentationError: unexpected indent (<ipython-input-36-ba2b29086a8c>, line 3)

**note:Text values cannot be converted to numeric datatype**

# Operators

The symbol that specify which task we need to perform

#1.Arithmetic Operator

Any mathematical calculation

In [ ]:
x=5
y=2
#addition(+)-
print(x+y)

#subtraction(-)-
print(x-y)

#multiplication(*)-
print(x*y)

#division(/)-
print(x/y)

#modulus(%)-Gives you the remainder
print(x%y)

#floor division(//)-Gives the integer value only
print(x//y)

#Exponential(power **)-
print(x**y)

7
3
10
2.5
1
2
25

#2.Comparision Operator

In [ ]:
x=22
y=22

#greater than(>):
print(x>y)

#less than(<):
print(x<y)

#greater than equals to(>=):
print(x>=y)

#less than equals to(<=):
print(x<=y)

#equals equals tO(==):
print(x==y)

#not equals to(!=):
print(x!=y)

False
False
True
True
True
False

#3.Assignment Operator

In [ ]:
#(=)-Assigns a value to a variable
x=10
print(x)

#(+=)-increments the value
x+=5    #x=x+5
print(x)

#(-=)-decremnts the value
x-=10   #x=x-10
print(x)

#(*=)
x*=5    #x=x*5
print(x)

#(/=)  (//=)

10
15
5
25

#4.Logical Operator

keywords: and,or, not

In [ ]:
#and-If both statements are true then only we get the true output.
x=23
y=12
print(x>y and y>x)

False

In [ ]:
#or-If any one statement will be true then we get the true output
print(x>y or y>x)

True

In [ ]:
#not-Gives you opposite value
#x=True
#print(not x)

x=10
print(not x)

False

#5.Membership Operator

keywords:in, not in

In [ ]:
fruits=["apple","mango","kiwi","pineapple"]
print("apple" in fruits)
print("pineapple" not in fruits)

True
False

# Sequential Data Types

List tuple Strings

#Unsequential Data Types

Dictionary Sets

# Dictionary-

Key value Pairs

We use {} to create our dictionary

In [ ]:
#print the details of a person (name,age,address,job)
person={"name":"Sweta","age":23,"address":"Banglore","job":"Data Science"}
print(person)

{'name': 'Sweta', 'age': 23, 'address': 'Banglore', 'job': 'Data Science'}

In [ ]:
#By using the key you can acess the value
print(person["age"])
print(len(person))

23
4