<a href="https://colab.research.google.com/github/Kavia-M/Data_science_course-Intellipaat/blob/main/Python/Classwork/Trainers_notes/OOPS/May_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **There are two types of languages are there**:



1.  **Procedural Programming** :  Programming that follows a sequence of instructions that operates on data . it focuses on functions. it always top-down approach. data is shared globally

2.  ** Object oriented programming**: it is a bottom up approach.. it is based on the concept of classes and object which contain data , methods or attributes
. data is highly securable

In [ ]:
a= 10
b = 20
print(a+b)

30

In [ ]:
class sample:
  def display(self):
    print("hello")

obj = sample()
obj.display()

what is oops:
it is a object oriented programming language that uses classes and objects


classes ‚Åâ a class is like a blueprint for creating objects

objects: an object is an actual item made using that class

In [ ]:
class class_name:
  function, attriute , properties



obj_name = class_name()
obj_name.func()

In [ ]:
class sample:
  def display(self):
    print("Hello")
obj=sample()
obj.display()

Hello

In [ ]:
class Car:
  def color(self):
    print("my car is of black color")
    print("my car is benz")

  def speed(self):
    print("my speed of the car is 100km/hr")



obj = Car()
obj.color()
obj.speed()

my car is of black color
my car is benz
my speed of the car is 100km/hr

In [ ]:
# how to define parameter inside the class

class Car:
  def display(self, color, brand):
    self.color = color
    self.brand = brand
    print(self.color, self.brand)

  def display1(self, add):
    print(self.color , self.brand, self.add)

  def output(self):
    print(self.color, self.brand)


obj = Car()
obj.display("feufeuf",'gfegfe')
obj.display1()

feufeuf gfegfe

TypeError: Car.display1() missing 1 required positional argument: 'add'

In [ ]:
# constructor : it is a special method in a class that is automatically when object is created
# it is used to intialize value  __init__

class student:
  def __init__(self,name, age , roll_no, add):
    self.name = name
    self.age = age
    self.roll_no = roll_no
    self.add = add


  def display(self):
    print(f"my name is {self.name}, age is {self.age} and {self.roll_no} roll no, add {self.add}")





obj = student("priya", 21, 123444, "22")
obj.display()

my name is priya, age is 21 and 123444 roll no, add 22

In [ ]:
class Car:
  def display(self, color, brand):
    self.color = color
    self.brand = brand

  def display1(self):
    print(self.color, self.brand)
obj = Car()
obj.display("black", "mercedes")
obj.display1()

black mercedes

In [ ]:
class car:
  def display(self, color, brand):
    self.color=color
    self.brand=brand
    print(self.color, self.brand)
  def display1(self):
    print(self.color, self.brand)
  def output(self):
      print(self.color, self.brand)
obj=car()
obj.display("black", "mercedes")

black mercedes

In [ ]:
# demostrate the concept of classes and object using showcase the book class
# which has title , author , pages attributes , and display those using function
# create two diffrent for different authors

In [ ]:
# create an empoyee class that has employee name , salary and department attibutes
# give a constant to them . display out the details of all
# using objects

In [ ]:
class employee:
  def __init__(self):
    self.employe_name ="krishna"
    self.salary = "90,000"
    self.department = "technical"

  def display(self):
    print(f" my name is {self.employe_name} and i get {self.salary}package in {self.department} ")

obj = employee()
obj.display()

# contact attributes

 my name is krishna and i get 90,000package in technical

In [ ]:
class Book:
    def __init__(self, title, author, pages):
        self.title = title
        self.author = author
        self.pages = pages
    def display_info(self):
        print(f"Title: {self.title}")
        print(f"Author: {self.author}")
        print(f"Pages: {self.pages}")
book1 = Book("Python Fundamentals", "John Doe", 320)
book2 = Book("Advanced Python Concepts", "Jane Smith", 450)
book1.display_info()
print()
book2.display_info()

Title: Python Fundamentals
Author: John Doe
Pages: 320

Title: Advanced Python Concepts
Author: Jane Smith
Pages: 450

In [ ]:
class Book:
  def __init__(self, title, author, pages):
    self.title = title
    self.author = author
    self.pages = pages

  def display(self):
    print(f"Title : {self.title}", f"Author : {self.author}", f"Pages : {self.pages}", end = "\n")
book1 = Book("Title1", "Author1", [1,2,3,4,5])
book1.display()
book2 = Book("Title2", "Author2", [1,2,3,4,5,6,7,8,9,10])
book2.display()

Title : Title1 Author : Author1 Pages : [1, 2, 3, 4, 5]
Title : Title2 Author : Author2 Pages : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
class employee:
    def __init__(self,empName,empSalary,empDepartment):
        self.empName = empName
        self.empSalary = empSalary
        self.empDepartment = empDepartment

    def empDetails(self):
        print(f"The EmpName is {self.empName}, and the EmpSalary is {self.empSalary}, and the EmpDept is {self.empDepartment}")

obj = employee("Manimaran D",20000,"IT")
obj.empDetails()

The EmpName is Manimaran D, and the EmpSalary is 20000, and the EmpDept is IT

In [ ]:
class Book:
    def __init__(self, title, author, pages):
        self.title = title
        self.author = author
        self.pages = pages
    def display_info(self):
        print(f"Title: {self.title} Author: {self.author} Pages: {self.pages}")
book1 = Book("Robinson Crusoe", "Daniel Defoe", 281)
book2 = Book("abc", "George Orwell", 328)
print("Book 1 Information:")
book1.display_info()
print("\nBook 2 Information:")
book2.display_info()

Book 1 Information:
Title: Robinson Crusoe Author: Daniel Defoe Pages: 281

Book 2 Information:
Title: abc Author: George Orwell Pages: 328

In [ ]:
class employee:
  def __init__(self):
    self.name="akshat"
    self.salary="50,000"
    self.department="engineering"
  def display(self):
    print(f"the name of the employee is {self.name}")
    print(f"the salary of the employee is {self.salary}")
    print(f"the department of the employee is {self.department}")
obj = employee()
obj.display()

the name of the employee is akshat
the salary of the employee is 50,000
the department of the employee is engineering

In [ ]:
class employee:
  def __init__(self, name ="priya", salary ="50.000", department="it"):
    self.name= name
    self.salary = salary
    self.department = department

  def display(self):
    print(self.name, self.salary, self.department)


obj1 = employee()
#obj1.display()

obj2 = employee( "krish","60,000", "sales")
obj2.display()

krish 60,000 sales

In [ ]:
class employee:
  def __init__(self, name="akshaj", salary="89999", department="it"):
    self.name = name
    self.salary = salary
    self.department = department
    #print("An employee named {} with salary {} in {} department was created".format(self.name, self.salary, self.department))

  def display(self):
      print("Name: {}, Salary: {}, Department: {}".format(self.name, self.salary, self.department))


#obj = employee("John Doe", 50000, "IT")
obj = employee()
obj.display()

Name: akshaj, Salary: 89999, Department: it